{% extends 'vita/base.html' %}
{% block content %}

<main>

  <section class="hero">
    <div class="container hero_inner">
      <div class="hero_content">
        <p class="hero_subtitle">VitaHub — Ваш портал о здоровье</p>

        <h1>Все о здоровье<br>
        в одном месте
        </h1>

        <p class="hero_text">
          Полезные статьи, общение на форуме, консультации специалистов и товары для здоровья.
        </p>

        <div class="hero_buttons">
          <a href="" class="button button_one">Читать статьи</a>
          <a href="" class="button button_two">Найти специалиста</a>
        </div>

      </div>

      <div class="hero_visual">
        <div class="hero_card">
          <span class="hero_card-icon">+</span>
          <h3>Забота о здоровье</h3>
          <p>
            Информация и возможности для заботы о себе
          </p>

        </div>

      </div>

    </div>
    </section>


    <section class="features">
      <div class="container">
        <div class="section_heading">
          <p class="section_subtitle">Возможности VitaHub</p>
          <h2>Все неоходимое для заботы о здоровье</h2>
          <p>Полезная информация, общение, консультации со специалистами и полезные товары в одном месте</p>
        </div>


        <div class="features_grid">


          <a href="" class="feature_card">
            <div class="fearture_icon">
              📚
            </div>
            <h3>Статьи</h3>
            <p>Полезные материалы о здоровье и здоровом образе жизни.</p>
            <span class="feature_link">Читать статьи</span>
          </a>


          <a href="" class="feature_card">
            <div class="fearture_icon">
              💬
            </div>
            <h3>Форум</h3>
            <p>Общайтесь с другими пользователями и делитесь своим опытом.</p>
            <span class="feature_link">Перейти на форум</span>
          </a>


          <a href="" class="feature_card">
            <div class="fearture_icon">
              👨‍⚕️
            </div>
            <h3>Консультации</h3>
            <p>Выберите специалиста и получите дистанционную консультацию.</p>
            <span class="feature_link">Выбрать специалиста</span>
          </a>


          <a href="" class="feature_card">
            <div class="fearture_icon">
              💊
            </div>
            <h3>Магазин</h3>
            <p>Выбор и заказ товаров для здоровья онлайн.</p>
            <span class="feature_link">Перейти в магазин</span>
          </a>

        </div>
      </div>


    </section>

  <section class="articles_pre">
    <div class="container">
      <div class="section_heading articles_heading">
        <div>
          <p class="section_subtitle">Полезные статьи</p>
          <h2>Популярные материалы</h2>
          <p> Узнайте больше о здоровье и здоровом образе жизни.</p>
        </div>

        <a href="" class="section_button">Все статьи</a>
      </div>

      <div class="articles_grid">
        <article class="article_card">
          <div class="article_image">Здоровье</div>
          <div class="article_content">
            <span class="article_category">Здоровый образ жизни</span>
            <h3>Как поддерживать здоровый образ жизни</h3>
            <p>Полезные привычки, которые помогают заботиться о здоровье каждый день.</p>

            <a href="" class="article_link">Читать статью</a>
          </div>
        </article>

        <article class="article_card">
          <div class="article_image">Питание</div>
          <div class="article_content">
            <span class="article_category">Питание</span>
            <h3>Основы правильного питания</h3>
            <p>Принципы сбалансированного питания и ежедневного рациона.</p>

            <a href="" class="article_link">Читать статью</a>
          </div>
        </article>

        <article class="article_card">
          <div class="article_image">Витамины</div>
          <div class="article_content">
            <span class="article_category">Витамины и БАДы</span>
            <h3>Как БАДы помогают профилактике заболеваний</h3>
            <p>Что такое БАДы, профилактика и почему это важно.</p>

            <a href="" class="article_link">Читать статью</a>
          </div>
        </article>

      </div>
    </div>

  </section>

</main>


{% endblock %}