{% extends 'vita/base.html' %}
{% block content %}

<main>

  <section class="hero">
    <div class="container hero_inner">
      <div class="hero_content">
        <p class="hero_subtitle">VitaHub — Ваш портал о здоровье</p>

        <h1>Все о здоровье<br>
        в одном месте
        </h1>

        <p class="hero_text">
          Полезные статьи, общение на форуме, консультации специалистов и товары для здоровья.
        </p>

        <div class="hero_buttons">
          <a href="" class="button button_one">Читать статьи</a>
          <a href="" class="button button_two">Найти специалиста</a>
        </div>

      </div>

      <div class="hero_visual">
        <div class="hero_card">
          <span class="hero_card-icon">+</span>
          <h3>Забота о здоровье</h3>
          <p>
            Информация и возможности для заботы о себе
          </p>

        </div>

      </div>

    </div>

  </section>

</main>


{% endblock %}